nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main p {
    padding: 0;
}

aside {
    width: 400px;
    margin: 15px;
    border: 5px;
    border-color: black;
    padding: 1px;
    background-color: azure;
    color: black;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin: 2em;
    border-top: #333 solid 1px;
    text-align: center;
}